<h1>Sign Up!</h1>

<% if @user.errors.any?  %>
  <ul>
    <% @user.errors.full_messages.each do |m| %>
    <li><%= m %> </li>
</ul>

<%= form_for @user do |f| %>

<div class='field'>
<%=f.label :email %>
<%=f.email_field :email %>
</div>

<div class='field'>
<%=f.label :email %>
<%=f.email_field :password %>

<div class='field'>
<%=f.label :email %>
<%=f.password_field :password%>
</div>

<di class='field'>
<%=f.label :password_confirmation %>
<%=f.password_field :password_confirmation %>
</div>

<%= f.submit 'Sign up!' %>

<% end %>
