<!DOCTYPE html>
<html>
  <head>
    <title>Ryde</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash?.any %>
<% flash.each do |key, value| %>
<p class="<%= ker %>">
<%= value %>
</p>
<% end %>
<% end %>

<% if current_user %>
<p><% link_to ' Home', root_path %></p>
<p> <%= link_to "logout", sessions_path, metho :delete %> </p>

 Hello <%= current_user.email %> , You have <%= current_user.credits %> credits!
<% else %>
<p>
  <p><% link_to ' Home', root_path %></p>
  <% link_to ' New User', new_users_path %></p>
<p><% link_to ' Login', new_sessions_path %></p>

You must login to see your credits!
<% end %>


    <%= yield %>
  </body>
</html>
